/* =================
Variables
================= */
$columbia-blue: #afd2e9;
$yin-mn-blue: #26547c;
$navy: #1f2937;
$pink: #da6aec;
$red: #f43f5e;
$blue: #2f74dc;
$green: #22cd90;

/* =================
Reset
================= */
input:focus,
input,
button {
  all: unset;
  font: inherit;
}

input {
  background-color: white;
  border: 1px solid $columbia-blue;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #8e2323;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset; /*your box-shadow*/
  -webkit-text-fill-color: #a11515;
}

/* =================
Base
================= */

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif !important;
  font-size: 1.125rem;
  font-weight: 300;
  background-color: black;
  color: white;
}

img {
  max-width: 100%;
  display: block;
}

/* =================
Typography
================= */
h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  // color: #143774;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

a {
  // color: #1792d2;
}

a:hover,
a:focus {
  // color: #143774;
}

/* =================
Layout
================= */

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 0.5em 1em;
  background-color: $yin-mn-blue;
  border-radius: 22px;
}

button:hover {
  cursor: pointer;
}
